.header {
  display: flex;
  justify-content: space-between;
  border: solid black;
}
.logo {
  width: 100px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  padding: 5px;
  width: 200px;
  height: 480px;
  margin: 5px;
  border: none;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.filter-btn {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: brown;
  color: wheat;
  font-weight: 10px;
  font-size: 20px;
}
.filter-btn:hover {
  border-color: blue;
  font-weight: 20px;
  font-size: 20px;
  background-color: rgb(90, 22, 22);
  color: rgb(172, 156, 127);
 
}
.res-logo {
  width: 100%;
  margin: 5px;
  height: 200px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.login{
  padding: 0 20px;
  cursor: pointer;
}
.filter{
  display: flex;
  flex-direction: row;
}
.search{
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: brown;
  color: wheat;
  font-weight: 10px;
  font-size: 20px;
}
.search-box{
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: brown;
  color: wheat;
  font-weight: 10px;
  font-size: 20px;
}
